<!DOCTYPE html>
<html ng-app="frontModule">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css"/>
    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="">前端江湖</a>
        </div>
    </div>
</nav>
<div class="container">
   <div class="row">
       <div class="col-md-12">
           <div class="panel panel-default">
               <div class="panel-heading">前端江湖</div>
               <div class="panel-body" ng-controller="RoomCtrl">
                   <div class="list-group" auto-scroll style="height:300px;overflow-y:auto">
                       <div class="list-group-item" ng-repeat="message in messages track by $index">
                           匿名: {{message}}
                       </div>
                   </div>
               </div>
               <div class="panel-footer">
                   <form action="" role="form" ng-controller="MessageCtrl">
                       <div class="form-group">
                           <textarea required ctrl-enter-new-line="createMessage()" name="newMessage" class="form-control"
                                     ng-model="newMessage" ></textarea>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>
</body>
<script src="/front.js"></script>
<script src="/js/services/socket.js"></script>
<script src="/js/controllers/MessageCtrl.js"></script>
<script src="/js/controllers/RoomCtrl.js"></script>
<script src="/js/directives/autoScroll.js"></script>
<script src="/js/directives/ctrlEnterNewLine.js"></script>
</html>